<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:if="${inspection.getInspectionNumber()} != null" th:text="'Edit ' + ${inspection.getInspectionNumber()} + ' | ' + ${inspection.getInspectionDate()}"></h2>
<h2 th:if="${inspection.getInspectionNumber()} == null" th:text="'Add Inspection'"></h2>

<form action="#" th:action="@{/inspection}" method="post">
    <p th:if="${inspection.getInspectionNumber() != null}">Inspection Number: <span th:text="${inspection.getInspectionNumber()!=''? inspection.getInspectionNumber():''}"></span> <input type="hidden" name="inspectionNumber" th:value="${inspection.getInspectionNumber()}" /> </p>
    <p>License Plate: <span th:text="${inspection.getLicensePlate() != '' ? inspection.getLicensePlate(): ''}"></span>
        <select th:hidden="${inspection.getLicensePlate() != ''}" th:disabled="${inspection.getLicensePlate() != ''}" th:if="${inspection.getLicensePlate() == ''}" name="licensePlate" id="licensePlate">
            <option th:selected="${licensePlate} == ${inspection.getLicensePlate()}" th:each="licensePlate: ${licensePlates}" th:text="${licensePlate}" th:value="${licensePlate}"></option>
        </select>
    </p>

    <p>Comment: <input type="text" name="comment" th:value="${inspection.getComment()}" /></p>
    <input type="radio" id="radioTrue" name="passed" th:selected="${inspection.getPassed()} == true" th:value="true" th:text="Yes" />
    <input type="radio" id="radioFalse" name="passed" th:selected="${inspection.getPassed()} == false" th:value="false" th:text="No" />
    <p>Date: <input type="date" name="inspectionDate" th:value="${inspection.getInspectionDate()}" /></p>

    <p><input id="Submit" type="submit" value="Submit" />
</form>

<a href="/inspections">Back to inspections overview</a>

</body>
</html>