<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0;">

<div style="background-color: deepskyblue; display: flex; justify-content: space-between; align-items: center;">
    <h3 style="color: black; margin-left: 5px;">
        <a style="text-decoration: none; font-weight: bold;" href="/">Advanced Programming Challenge</a>
    </h3>
    <ul style="list-style: none; display:flex;">
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/cars">List cars</a>
        </li>
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/inspections">List inspections</a>
        </li>
    </ul>
</div>

<h2 style="text-align: center;" th:text="${car.getMerk()} + ' ' + ${car.getType()} + ' | ' +${car.getLicensePlate()}"></h2>

<p style="margin-left: 25%;" th:text="'Portier: ' + ${car.getPortier()}"></p>
<p style="margin-left: 25%;" th:text="'Euronorm: ' + ${car.getEuroNorm()}"></p>

<a style="margin-left: 20px;" href="/cars">Back to cars list</a>

</body>
</html>