<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0;">

<div style="background-color: deepskyblue; display: flex; justify-content: space-between; align-items: center;">
    <h3 style="color: black; margin-left: 5px;">
        <a style="text-decoration: none; font-weight: bold;" href="/">Advanced Programming Challenge</a>
    </h3>
    <ul style="list-style: none; display:flex;">
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/cars">List cars</a>
        </li>
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/inspections">List inspections</a>
        </li>
    </ul>
</div>

<h2 style="text-align: center">Homepage</h2>
<h4 style="margin-left: 15px; margin-top: 20px;">What can I do ?</h4>

<ul>
    <li>
        <p style="margin-left: 15px; text-align: start; margin-top: 10px; width: 60%;">
            Click on the links in the navigation bar to see a list of cars
            or look at all the inspections that have been done.
        </p>
    </li>
    <li>
        <p style="margin-left: 15px; text-align: start; margin-top: 10px; width: 60%;">
            You can add, edit, delete, ... cars and inspections.
        </p>
    </li>
    <li>
        <p style="margin-left: 15px; text-align: start; margin-top: 10px; width: 60%;">
            You can look at the details of a car
            or the inspections that have been done for a specific car
        </p>
    </li>
</ul>


</body>
</html>