<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0;">

<div style="background-color: deepskyblue; display: flex; justify-content: space-between; align-items: center;">
    <h3 style="color: black; margin-left: 5px;">
        <a style="text-decoration: none; font-weight: bold;" href="/">Advanced Programming Challenge</a>
    </h3>
    <ul style="list-style: none; display:flex;">
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/cars">List cars</a>
        </li>
        <li style="color: black; padding: 10px;">
            <a style="text-decoration: none" href="/inspections">List inspections</a>
        </li>
    </ul>
</div>

<h2 style="text-align: center">All cars:</h2>

<table style="margin: auto">
    <thead>
    <tr>
        <th> Merk </th>
        <th> Type </th>
        <th> License-plate </th>
        <th> Details </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.isEmpty()}">
        <td colspan="4"> No cars available </td>
    </tr>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getMerk()}"> Merk </span></td>
        <td><span th:text="${car.getType()}"> Type </span></td>
        <td><span th:text="${car.getLicensePlate()}"> License-plate </span></td>
        <td>
            <form th:action="@{'/car/delete/' + ${car.getLicensePlate()}}" th:method="delete">
                <a th:href="@{'/car/edit/' + ${car.getLicensePlate()}}" th:text="'Edit'"></a>
                <span style="padding-left: 5px; padding-right: 5px; " >|</span>
                <a th:href="@{'/car/detail/' + ${car.getLicensePlate()}}" th:text="'Details'"></a>
                <span style="padding-left: 5px; padding-right: 5px; " >|</span>
                <a th:href="@{'/inspections/' + ${car.getLicensePlate()}}" th:text="'Show inspections'"></a>
                <span style="padding-left: 5px; padding-right: 5px; " >|</span>
                <button type="submit" th:text="'Delete'"></button>
            </form>

        </td>
        <td></td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 10px; display: flex; justify-content: center; align-items: center;">
    <button style="margin-top: 10px; margin-bottom: 10px;">
        <a style="text-decoration: none" href="/car/add">New car</a>
    </button>
</div>


<br>

<a style="margin-left: 20px;" href="/">Terug naar de homepagina</a>

</body>
</html>